# TOPIC: String Based Assignment Problem

Q1. Write a program to reverse a string.

In [1]:
# Input string
input_string = input("Enter a string: ")

# Reverse the string using slicing
reversed_result = input_string[::-1]

# Display the reversed string
print("Reversed string:", reversed_result)

Enter a string:  Hello this is Meet Nagadia, This is Python Code.

Reversed string: .edoC nohtyP si sihT ,aidagaN teeM si siht olleH

Q2. Check if a string is a palindrome.

In [2]:
# Prompt the user for input
input_string = input("Enter a string: ")

# Remove spaces and convert the string to lowercase for case-insensitive comparison
cleaned_string = input_string.replace(" ", "").lower()

# Reverse the cleaned string using string slicing
reversed_string = cleaned_string[::-1]

# Check if the cleaned string is the same as its reverse
if cleaned_string == reversed_string:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string:  This is This

The string is not a palindrome.

Q3. Convert a string to uppercase.

In [3]:
# Input string
input_string = "Hello, World!"

# Convert the string to uppercase
uppercase_string = input_string.upper()

# Print the original and uppercase strings
print("Original String:", input_string)
print("Uppercase String:", uppercase_string)

Original String: Hello, World!
Uppercase String: HELLO, WORLD!

Q4. Convert a string to lowercase.

In [4]:
# Input string
input_string = "Hello, World!"

# Convert the string to lowercase
lowercase_string = input_string.lower()

# Print the original and lowercase strings
print("Original String:", input_string)
print("Lowercase String:", lowercase_string)

Original String: Hello, World!
Lowercase String: hello, world!

Q5. Count the number of vowels in a string.

In [5]:
# Prompt the user for input
sentence = input("Enter a sentence: ")
sentence = sentence.lower()

# Initialize a variable to count the vowels
vowel_count = 0

# Define a set of vowels
vowels = "aeiou"

# Iterate through each character in the sentence
for char in sentence:
    # Check if the character is a vowel
    if char in vowels:
        vowel_count += 1

# Display the vowel count
print("The number of vowels in the sentence is:", vowel_count)

Enter a sentence:  I want to know if this sentence has vowel.

The number of vowels in the sentence is: 12

Q6. Count the number of consonants in a string.

In [6]:
# Input string
input_string = "Hello, World!"

# Define a set of consonant characters
consonants = "bcdfghjklmnpqrstvwxyz"

# Initialize a variable to store the count
consonant_count = 0

# Convert the input string to lowercase to handle both uppercase and lowercase characters
input_string = input_string.lower()

# Iterate through each character in the input string
for char in input_string:
    # Check if the character is in the set of consonants
    if char in consonants:
        consonant_count += 1

# Print the result
print("Number of consonants in the string:", consonant_count)

Number of consonants in the string: 7

Q7. Remove all whitespaces from a string.

In [7]:
# Prompt the user for input
input_string = input("Enter a string: ")

# Displaying the strings with spaces
print("Original string with spaces", input_string)

# Remove spaces from the input string using the replace() method
modified_string = input_string.replace(" ", "")

# Display the modified string without spaces
print("Modified string without spaces:", modified_string)

Enter a string:  This sentence does have spaces.

Original string with spaces This sentence does have spaces.
Modified string without spaces: Thissentencedoeshavespaces.

Q8. Find the length of a string without using the `len()` function.

In [8]:
# Prompt the user for input
input_string = input("Enter a string: ")

# Calculate the length of the string
string_length = len(input_string)

# Display the length of the string
print("The length of the string is:", string_length)

Enter a string:  This is test string to check length.

The length of the string is: 36

Q9. Check if a string contains a specific word.

In [9]:
# Input string
input_string = "This is a sample sentence containing a word."

# Specific word to check for
specific_word = "sample"

# Check if the specific word is in the input string
if specific_word in input_string:
    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

The string contains the word 'sample'.

Q10. Replace a word in a string with another word.

In [10]:
# Input string
input_string = "This is a sample sentence with a word."

# Word to be replaced and the replacement word
word_to_replace = "sample"
replacement_word = "modified"

# Replace the word in the input string
result_string = input_string.replace(word_to_replace, replacement_word)

# Print the original and modified strings
print("Original String:", input_string)
print("Modified String:", result_string)

Original String: This is a sample sentence with a word.
Modified String: This is a modified sentence with a word.

Q11. Count the occurrences of a word in a string.

In [11]:
# Input string
input_string = "This is a sample sentence. This sentence contains the word 'sample'. This is a simple example."

# Word to count
word_to_count = "sample"

# Split the input string into words using spaces as the delimiter
words = input_string.split()

# Initialize a variable to store the count
word_count = 0

# Iterate through the words in the list
for word in words:
    # Remove punctuation from the word
    cleaned_word = word.strip(".,'\"?!")

    # Check if the cleaned word matches the word to count (case insensitive)
    if cleaned_word.lower() == word_to_count.lower():
        word_count += 1

# Print the result
print(f"The word '{word_to_count}' appears {word_count} times in the string.")

The word 'sample' appears 2 times in the string.

Q12. Find the first occurrence of a word in a string.

In [12]:
# Input string
input_string = "This is a sample sentence. This sentence contains the word 'sample'. This is a simple example."

# Word to find
word_to_find = "sample"

# Find the index of the first occurrence of the word in the input string
word_index = input_string.lower().find(word_to_find.lower())

# Check if the word was found
if word_index != -1:
    print(f"The word '{word_to_find}' was found at index {word_index}.")
else:
    print(f"The word '{word_to_find}' was not found in the string.")

The word 'sample' was found at index 10.

Q13. Find the last occurrence of a word in a string.

In [13]:
# Input string
input_string = "This is a sample sentence. This sentence contains the word 'sample'. This is a simple example."

# Word to find
word_to_find = "sample"

# Find the index of the last occurrence of the word in the input string
word_index = input_string.lower().rfind(word_to_find.lower())

# Check if the word was found
if word_index != -1:
    print(f"The last occurrence of the word '{word_to_find}' was found at index {word_index}.")
else:
    print(f"The word '{word_to_find}' was not found in the string.")

The last occurrence of the word 'sample' was found at index 60.

Q 14. Split a string into a list of words.

In [14]:
# Input string
input_string = "This is a sample sentence. This sentence contains the word 'sample'. This is a simple example."

# Displaying the original string
print("Original String:", input_string)

# Split the input string into a list of words
word_list = input_string.split()

# Print the list of words
print("List of Words:", word_list)

Original String: This is a sample sentence. This sentence contains the word 'sample'. This is a simple example.
List of Words: ['This', 'is', 'a', 'sample', 'sentence.', 'This', 'sentence', 'contains', 'the', 'word', "'sample'.", 'This', 'is', 'a', 'simple', 'example.']

15. Join a list of words into a string.

In [15]:
# List of words
word_list = ['This', 'is', 'a', 'sample', 'sentence.']

# Separator to join the words with
separator = ' '

# Join the list of words into a string
result_string = separator.join(word_list)

# Print the result
print("Joined String:", result_string)

Joined String: This is a sample sentence.

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [16]:
# Input string with spaces
input_string = "This is a sample sentence with spaces."

# Displaying the original string
print("Original String:", input_string)

# Replace spaces with underscores
result_string = input_string.replace(" ", "_")

# Print the result
print("Modified String:", result_string)

Original String: This is a sample sentence with spaces.
Modified String: This_is_a_sample_sentence_with_spaces.

17. Check if a string starts with a specific word or phrase.

In [17]:
# Input string
input_string = "This is a sample sentence."

# Specific word or phrase to check for
specific_word = "This"

# Check if the string starts with the specific word or phrase
starts_with_specific = input_string.startswith(specific_word)

# Print the result
if starts_with_specific:
    print(f"The string starts with '{specific_word}'.")
else:
    print(f"The string does not start with '{specific_word}'.")

The string starts with 'This'.

18. Check if a string ends with a specific word or phrase.

In [18]:
# Input string
input_string = "This is a sample sentence."

# Specific word or phrase to check for
specific_word = "sentence."

# Check if the string ends with the specific word or phrase
ends_with_specific = input_string.endswith(specific_word)

# Print the result
if ends_with_specific:
    print(f"The string ends with '{specific_word}'.")
else:
    print(f"The string does not end with '{specific_word}'.")

The string ends with 'sentence.'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
# Input string
input_string = "hello world"

# Convert the string to title case
title_case_string = input_string.title()

# Print the result
print("Title Case String:", title_case_string)

Title Case String: Hello World

20. Find the longest word in a string.

In [20]:
# Input string
input_string = "This is a sample sentence with some long words like 'elephant' and 'hippopotamus'."

# Split the input string into words using spaces as the delimiter
words = input_string.split()

# Initialize variables to keep track of the longest word and its length
longest_word = ""
max_length = 0

# Iterate through the words in the list
for word in words:
    # Remove punctuation from the word
    cleaned_word = word.strip(".,'\"?!")

    # Calculate the length of the cleaned word
    word_length = len(cleaned_word)

    # Check if the current word is longer than the previous longest word
    if word_length > max_length:
        longest_word = cleaned_word
        max_length = word_length

# Print the longest word
print("Longest Word:", longest_word)

Longest Word: hippopotamus

21. Find the shortest word in a string.

In [21]:
# Input string
input_string = "This is a sample sentence with some short words like 'cat' and 'dog'."

# Split the input string into words using spaces as the delimiter
words = input_string.split()

# Initialize variables to keep track of the shortest word and its length
shortest_word = None
min_length = float('inf')  # Set to positive infinity initially

# Iterate through the words in the list
for word in words:
    # Remove punctuation from the word
    cleaned_word = word.strip(".,'\"?!")

    # Calculate the length of the cleaned word
    word_length = len(cleaned_word)

    # Check if the current word is shorter than the previous shortest word
    if word_length < min_length:
        shortest_word = cleaned_word
        min_length = word_length

# Print the shortest word
print("Shortest Word:", shortest_word)

Shortest Word: a

22. Reverse the order of words in a string.

In [22]:
# Input string
input_string = "This is a sample sentence."

# Split the input string into words using spaces as the delimiter
words = input_string.split()

# Reverse the order of words
reversed_words = words[::-1]

# Join the reversed words into a single string with spaces as separators
reversed_string = " ".join(reversed_words)

# Print the reversed string
print("Reversed String:", reversed_string)

Reversed String: sentence. sample a is This

23. Check if a string is alphanumeric.

In [23]:
# Input string
input_string = "Hello123"

# Check if the string is alphanumeric
is_alphanumeric = input_string.isalnum()

# Print the result
if is_alphanumeric:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

24. Extract all digits from a string.

In [24]:
import re

# Input string
input_string = "Hello123, this is 4567 a test string with 789 digits."

# Use regular expression to extract all digits
digits = re.findall(r'\d+', input_string)

# Convert the list of digits to a string
digit_string = "".join(digits)

# Print the extracted digits
print("Extracted Digits:", digit_string)

Extracted Digits: 1234567789

25. Extract all alphabets from a string.

In [25]:
import re

# Input string
input_string = "Hello123, this is a test string with some alphabets and spaces."

# Use regular expression to extract all alphabetic characters
alphabets = re.findall(r'[a-zA-Z]+', input_string)

# Join the list of alphabets into a single string
alphabet_string = "".join(alphabets)

# Print the extracted alphabetic characters
print("Extracted Alphabets:", alphabet_string)

Extracted Alphabets: Hellothisisateststringwithsomealphabetsandspaces

26. Count the number of uppercase letters in a string.

In [26]:
# Input string
input_string = "Hello World, This Is A Sample String With Uppercase Letters."

# Initialize a variable to keep track of the count
uppercase_count = 0

# Iterate through the characters in the string
for char in input_string:
    # Check if the character is uppercase
    if char.isupper():
        uppercase_count += 1

# Print the count of uppercase letters
print("Uppercase Letter Count:", uppercase_count)

Uppercase Letter Count: 10

27. Count the number of lowercase letters in a string.

In [27]:
# Input string
input_string = "Hello World, This Is A Sample String With Lowercase Letters."

# Initialize a variable to keep track of the count
lowercase_count = 0

# Iterate through the characters in the string
for char in input_string:
    # Check if the character is lowercase
    if char.islower():
        lowercase_count += 1

# Print the count of lowercase letters
print("Lowercase Letter Count:", lowercase_count)

Lowercase Letter Count: 39

28. Swap the case of each character in a string.

In [28]:
# Input string
input_string = "Hello World, This Is A Sample String With Mixed Case."

# Swap the case of each character in the string
swapped_string = input_string.swapcase()

# Print the swapped string
print("Swapped Case String:", swapped_string)

Swapped Case String: hELLO wORLD, tHIS iS a sAMPLE sTRING wITH mIXED cASE.

29. Remove a specific word from a string.

In [29]:
# Input string
input_string = "This is a sample sentence. This sentence contains the word 'sample'. This is a simple example."


# Displaying original string
print("Original String without Word Removed:", input_string)

# Word to remove
word_to_remove = "sample"

# Replace the word with an empty string to remove it
result_string = input_string.replace(word_to_remove, "")

# Print the result
print("String with Word Removed:", result_string)

Original String without Word Removed: This is a sample sentence. This sentence contains the word 'sample'. This is a simple example.
String with Word Removed: This is a  sentence. This sentence contains the word ''. This is a simple example.

30. Check if a string is a valid email address.

In [30]:
import re

# Regular expression pattern for basic email validation
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'

# Test cases
email1 = "meet@email.com"
email2 = "NULL@_email"
email3 = "another@example."

# Check if the email addresses are valid
print(f"Is '{email1}' a valid email? {bool(re.match(pattern, email1))}")
print(f"Is '{email2}' a valid email? {bool(re.match(pattern, email2))}")
print(f"Is '{email3}' a valid email? {bool(re.match(pattern, email3))}")

Is 'meet@email.com' a valid email? True
Is 'NULL@_email' a valid email? False
Is 'another@example.' a valid email? False

31. Extract the username from an email address string.

In [31]:
# Method 1: Using Splitting
# Input email address
email_address = "example@email.com"

# Split the email address at the "@" symbol
username = email_address.split('@')[0]

# Print the extracted username
print("Extracted Username:", username)

Extracted Username: example

In [32]:
# Method 2:Using Regular Expressions

import re

# Input email address
email_address = "example@email.com"

# Regular expression pattern for extracting the username
pattern = r'^([a-zA-Z0-9._%+-]+)@'

# Use re.search to find the username
match = re.search(pattern, email_address)

# Extract the username from the match
if match:
    username = match.group(1)
else:
    username = "No match found"

# Print the extracted username
print("Extracted Username:", username)

Extracted Username: example

32. Extract the domain name from an email address string.

In [33]:
import re

# Input email address
email_address = "example@email.com"

# Regular expression pattern for extracting the domain name
pattern = r'@([a-zA-Z0-9.-]+)$'

# Use re.search to find the domain name
match = re.search(pattern, email_address)

# Extract the domain name from the match
if match:
    domain_name = match.group(1)
else:
    domain_name = "No match found"

# Print the extracted domain name
print("Extracted Domain Name:", domain_name)

Extracted Domain Name: email.com

33. Replace multiple spaces in a string with a single space.

In [34]:
import re

# Input string with multiple spaces
input_string = "This   is    a   string   with   multiple     spaces."

# Replace multiple spaces with a single space using regular expression
cleaned_string = re.sub(r'\s+', ' ', input_string)

# Print the cleaned string
print("Cleaned String:", cleaned_string)

Cleaned String: This is a string with multiple spaces.

34. Check if a string is a valid URL.

In [35]:
import re
from urllib.parse import urlparse

# Function to check if a string is a valid URL
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc]) and re.match(r'^[a-zA-Z0-9.-]*$', result.netloc)
    except ValueError:
        return False

# Test cases
url1 = "https://twitter.com"
url2 = "invalid_url"
url3 = "ftp://ftp.example.com"

# Check if the URLs are valid
print(f"Is '{url1}' a valid URL? {is_valid_url(url1)}")
print(f"Is '{url2}' a valid URL? {is_valid_url(url2)}")
print(f"Is '{url3}' a valid URL? {is_valid_url(url3)}")

Is 'https://twitter.com' a valid URL? <re.Match object; span=(0, 11), match='twitter.com'>
Is 'invalid_url' a valid URL? False
Is 'ftp://ftp.example.com' a valid URL? <re.Match object; span=(0, 15), match='ftp.example.com'>

35. Extract the protocol (http or https) from a URL string.

In [36]:
from urllib.parse import urlparse

# Input URL
url = "https://google.com"

# Parse the URL
parsed_url = urlparse(url)

# Extract the protocol (scheme) from the parsed URL
protocol = parsed_url.scheme

# Print the extracted protocol
print("Extracted Protocol:", protocol)

Extracted Protocol: https

36. Find the frequency of each character in a string.

In [37]:
# Input string
input_string = "hello world"

# Initialize an empty dictionary to store character frequencies
char_frequency = {}

# Iterate through the characters in the string
for char in input_string:
    # Ignore spaces and convert characters to lowercase (case-insensitive)
    if char != ' ':
        char = char.lower()
        
        # Increment the frequency count for the character
        char_frequency[char] = char_frequency.get(char, 0) + 1

# Print the character frequencies
for char, frequency in char_frequency.items():
    print(f"'{char}': {frequency}")

'h': 1
'e': 1
'l': 3
'o': 2
'w': 1
'r': 1
'd': 1

37. Remove all punctuation from a string.

In [38]:
import string

# Input string
input_string = "Hello, World! This is an example string with punctuation."

# Define a translation table to remove punctuation
translator = str.maketrans('', '', string.punctuation)

# Remove punctuation from the input string
cleaned_string = input_string.translate(translator)

# Print the cleaned string
print("Cleaned String:", cleaned_string)

Cleaned String: Hello World This is an example string with punctuation

38. Check if a string contains only digits.

In [39]:
# Input string
input_string = "12345"

# Check if the string contains only digits
contains_only_digits = input_string.isdigit()

# Print the result
if contains_only_digits:
    print("The string contains only digits.")
else:
    print("The string does not contain only digits.")

The string contains only digits.

39. Check if a string contains only alphabets.

In [40]:
# Input string
input_string = "HelloWorld"

# Check if the string contains only alphabetic characters
contains_only_alphabets = input_string.isalpha()

# Print the result
if contains_only_alphabets:
    print("The string contains only alphabetic characters.")
else:
    print("The string does not contain only alphabetic characters.")

The string contains only alphabetic characters.

40. Convert a string to a list of characters.

In [41]:
# Input string
input_string = "Hello, World!"

# Convert the string to a list of characters
char_list = [char for char in input_string]

# Print the list of characters
print("List of Characters:", char_list)

List of Characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

41. Check if two strings are anagrams.

In [42]:
import string

# Function to check if two strings are anagrams
def are_anagrams(str1, str2):
    # Remove spaces, convert to lowercase, and remove punctuation
    str1 = ''.join(char.lower() for char in str1 if char not in string.whitespace and char not in string.punctuation)
    str2 = ''.join(char.lower() for char in str2 if char not in string.whitespace and char not in string.punctuation)
    
    # Check if the sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

# Test cases
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if the strings are anagrams
print(f"Are '{string1}' and '{string2}' anagrams? {are_anagrams(string1, string2)}")
print(f"Are '{string3}' and '{string4}' anagrams? {are_anagrams(string3, string4)}")

Are 'listen' and 'silent' anagrams? True
Are 'hello' and 'world' anagrams? False

42. Encode a string using a Caesar cipher.

In [43]:
# Function to encode a string using a Caesar cipher
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():  # Check if the character is a letter
            is_upper = char.isupper()
            char = char.lower()  # Convert to lowercase for shift
            shifted = (ord(char) - ord('a') + shift) % 26
            char = chr(shifted + ord('a'))
            if is_upper:
                char = char.upper()  # Convert back to uppercase if original character was uppercase
        encrypted_text += char
    return encrypted_text

# Test the Caesar cipher encryption
plaintext = "I write good python code :)"
shift = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift)
print("Encrypted Text:", encrypted_text)

Encrypted Text: L zulwh jrrg sbwkrq frgh :)

43. Decode a Caesar cipher encoded string.

In [44]:
# Function to decode a Caesar cipher encoded string
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():  # Check if the character is a letter
            is_upper = char.isupper()
            char = char.lower()  # Convert to lowercase for shift
            shifted = (ord(char) - ord('a') - shift) % 26
            char = chr(shifted + ord('a'))
            if is_upper:
                char = char.upper()  # Convert back to uppercase if original character was uppercase
        decrypted_text += char
    return decrypted_text

# Test the Caesar cipher decryption
encrypted_text = "L zulwh jrrg sbwkrq frgh :)"
shift = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)
print("Decrypted Text:", decrypted_text)

Decrypted Text: I write good python code :)

44. Find the most frequent word in a string.

In [45]:
import re

# Function to find the most frequent word in a string
def most_frequent_word(text):
    # Remove punctuation and convert to lowercase
    cleaned_text = re.sub(r'[^\w\s]', '', text).lower()
    
    # Split the cleaned text into words
    words = cleaned_text.split()
    
    # Initialize a dictionary to store word frequencies
    word_freq = {}
    
    # Count the frequency of each word
    for word in words:
        word_freq[word] = word_freq.get(word, 0) + 1
    
    # Find the word with the highest frequency
    most_frequent = max(word_freq, key=word_freq.get)
    
    return most_frequent

# Test the most frequent word function
text = "This is a test. This is only a test. Testing is important."
most_freq_word = most_frequent_word(text)
print("Most frequent word:", most_freq_word)

Most frequent word: is

45. Find all unique words in a string.

In [46]:
import re

# Function to find all unique words in a string
def unique_words(text):
    # Remove punctuation and convert to lowercase
    cleaned_text = re.sub(r'[^\w\s]', '', text).lower()
    
    # Split the cleaned text into words
    words = cleaned_text.split()
    
    # Create a set to store unique words
    unique_word_set = set(words)
    
    return unique_word_set

# Test the unique words function
text = "This is a test. This is only a test. Testing is important."
unique_words_set = unique_words(text)

# Print the unique words
print("Unique Words:", unique_words_set)

Unique Words: {'important', 'is', 'testing', 'a', 'only', 'test', 'this'}

46. Count the number of syllables in a string.

In [47]:
import re

# Function to count the number of syllables in a string
def count_syllables(text):
    # Remove non-alphabet characters and convert to lowercase
    cleaned_text = re.sub(r'[^a-zA-Z\s]', '', text).lower()
    
    # Define a regular expression pattern to match vowel sounds
    vowel_pattern = re.compile(r'[aeiouy]+')
    
    # Use the regular expression to find all vowel sounds in the cleaned text
    vowel_sounds = re.findall(vowel_pattern, cleaned_text)
    
    # Count the number of vowel sounds, which approximate the syllable count
    syllable_count = len(vowel_sounds)
    
    return syllable_count

# Test the count syllables function
text = "Hello, World! This is a test sentence."
syllables = count_syllables(text)
print("Number of Syllables:", syllables)

Number of Syllables: 10

47. Check if a string contains any special characters.

In [48]:
import re

# Function to check if a string contains special characters
def contains_special_characters(text):
    # Define a regular expression pattern to match special characters
    special_char_pattern = re.compile(r'[^a-zA-Z0-9\s]')

    # Search for special characters in the text
    match = re.search(special_char_pattern, text)

    # If a match is found, return True (contains special characters); otherwise, return False
    return match is not None

# Test the contains special characters function
text1 = "Hello, World!"
text2 = "This is a normal string without any special characters"
text3 = "This string Contains@Special#Characters"

print(f"Does '{text1}' contain special characters? {contains_special_characters(text1)}")
print(f"Does '{text2}' contain special characters? {contains_special_characters(text2)}")
print(f"Does '{text3}' contain special characters? {contains_special_characters(text3)}")

Does 'Hello, World!' contain special characters? True
Does 'This is a normal string without any special characters' contain special characters? False
Does 'This string Contains@Special#Characters' contain special characters? True

48. Remove the nth word from a string.

In [49]:
# Function to remove the nth word from a string
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()
    
    # Check if the specified position (n) is valid
    if 1 <= n <= len(words):
        # Remove the nth word by slicing the list
        del words[n - 1]
        
        # Join the remaining words back together
        result_string = ' '.join(words)
        return result_string
    else:
        # Return the original string if the position is out of range
        return input_string

# Test the remove nth word function
input_string = "This is a test sentence to remove a word."

# Displaying the original string
print("Original String: ", input_string)

n = 4  # Remove the 4th word (in this case, "sentence")

result_string = remove_nth_word(input_string, n)
print("Result String:", result_string)

Original String:  This is a test sentence to remove a word.
Result String: This is a sentence to remove a word.

49. Insert a word at the nth position in a string.

In [50]:
# Function to insert a word at the nth position in a string
def insert_word_at_nth_position(input_string, n, word_to_insert):
    # Split the input string into words
    words = input_string.split()
    
    # Check if the specified position (n) is valid
    if 0 <= n <= len(words):
        # Insert the word at the nth position in the list
        words.insert(n, word_to_insert)
        
        # Join the words back together
        result_string = ' '.join(words)
        return result_string
    else:
        # Return the original string if the position is out of range
        return input_string

# Test the insert word at nth position function
input_string = "This is a test sentence to insert a word."

# Displaying the original string
print("Original String: ", input_string)

n = 4  # Insert the word at the 4th position
word_to_insert = "new"

result_string = insert_word_at_nth_position(input_string, n, word_to_insert)
print("Result String:", result_string)

Original String:  This is a test sentence to insert a word.
Result String: This is a test new sentence to insert a word.

50. Convert a CSV string to a list of lists.

In [51]:
import csv
from io import StringIO

# Function to convert a CSV string to a list of lists
def csv_string_to_list(csv_string):
    # Create a StringIO object to mimic a file
    csv_file = StringIO(csv_string)
    
    # Initialize a CSV reader
    csv_reader = csv.reader(csv_file)
    
    # Convert the CSV data to a list of lists
    csv_data = [row for row in csv_reader]
    
    return csv_data

# Test the CSV string to list function
csv_string = """Name,Age,Location
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago
"""

csv_list = csv_string_to_list(csv_string)
for row in csv_list:
    print(row)

['Name', 'Age', 'Location']
['Alice', '25', 'New York']
['Bob', '30', 'Los Angeles']
['Charlie', '22', 'Chicago']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [52]:
# Using a list comprehension to create a list of integers from 1 to 10
integer_list = [i for i in range(1, 11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
# Using the range() function with list() to create a list of integers from 1 to 10
integer_list = list(range(1, 11))
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [54]:
# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize a variable to store the length
length = 0

# Iterate through the list and count the elements
for index in my_list:
    length += 1

# Print the length
print("Length of the list:", length)

Length of the list: 10

3. Append an element to the end of a list.

In [55]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Append an element to the end of the list
my_list.append(6)

# Print the updated list
print("Updated List:", my_list)

Original List: [1, 2, 3, 4, 5]
Updated List: [1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

In [56]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Insert an element (e.g., 99) at a specific index (e.g., index 2)
index_to_insert = 2
element_to_insert = 99
my_list.insert(index_to_insert, element_to_insert)

# Print the updated list
print("Updated List:", my_list)

Original List: [1, 2, 3, 4, 5]
Updated List: [1, 2, 99, 3, 4, 5]

5. Remove an element from a list by its value.

In [57]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Remove an element (e.g., value 3) from the list
value_to_remove = 3
my_list.remove(value_to_remove)

# Print the updated list
print("Updated List:", my_list)

Original List: [1, 2, 3, 4, 5]
Updated List: [1, 2, 4, 5]

6. Remove an element from a list by its index.

In [58]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Remove an element at a specific index (e.g., index 2)
index_to_remove = 2
removed_element = my_list.pop(index_to_remove)

# Print the updated list and the removed element
print("Updated List:", my_list)
print("Removed Element:", removed_element)

Original List: [1, 2, 3, 4, 5]
Updated List: [1, 2, 4, 5]
Removed Element: 3

7. Check if an element exists in a list.

In [59]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Element to check
element_to_check = 3

# Check if the element exists in the list using the 'in' keyword
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

8. Find the index of the first occurrence of an element in a list.

In [60]:
# Create a list
my_list = [1, 2, 3, 4, 5, 33, 3, 40, 89, 3]

# Element to find
element_to_find = 3

# Find the index of the first occurrence of the element using the 'index()' method
try:
    index = my_list.index(element_to_find)
    print(f"The first occurrence of {element_to_find} is at index {index}.")
except ValueError:
    print(f"{element_to_find} is not in the list.")

The first occurrence of 3 is at index 2.

9. Count the occurrences of an element in a list.

In [61]:
# Create a list
my_list = [1, 2, 3, 4, 3, 5, 3]

# Element to count
element_to_count = 3

# Count the occurrences of the element using the 'count()' method
occurrences = my_list.count(element_to_count)
print(f"The element {element_to_count} appears {occurrences} times in the list.")

The element 3 appears 3 times in the list.

10. Reverse the order of elements in a list.

In [62]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Reverse the order of elements using the 'reverse()' method
my_list.reverse()

# Print the reversed list
print("Reversed List:", my_list)

Original List: [1, 2, 3, 4, 5]
Reversed List: [5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [63]:
# Create an unsorted list
my_list = [5, 2, 8, 1, 3]

# Displaying the original list
print("Original List:", my_list)

# Sort the list in ascending order using the 'sort()' method
my_list.sort()

# Print the sorted list
print("Sorted List (ascending):", my_list)

Original List: [5, 2, 8, 1, 3]
Sorted List (ascending): [1, 2, 3, 5, 8]

12. Sort a list in descending order.

In [64]:
# Create an unsorted list
my_list = [5, 2, 8, 1, 3]

# Displaying the original list
print("Original List:", my_list)

# Sort the list in descending order using the 'sort()' method with 'reverse=True'
my_list.sort(reverse=True)

# Print the sorted list
print("Sorted List (descending):", my_list)

Original List: [5, 2, 8, 1, 3]
Sorted List (descending): [8, 5, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [65]:
# Create a list of even numbers from 1 to 20 using a list comprehension
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

# Print the list of even numbers
print("Even Numbers:", even_numbers)

Even Numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [66]:
# Create a list of odd numbers from 1 to 20 using a list comprehension
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

# Print the list of odd numbers
print("Odd Numbers:", odd_numbers)

Odd Numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [67]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5]

# Calculate the sum of all elements in the list using the 'sum()' function
list_sum = sum(my_list)

# Print the sum
print("Sum of all elements:", list_sum)

Sum of all elements: 15

16. Find the maximum value in a list.

In [68]:
# Create a list of numbers
my_list = [3, 6, 1, 8, 2, 9, 4]

# Find the maximum value in the list using the 'max()' function
maximum_value = max(my_list)

# Print the maximum value
print("Maximum value:", maximum_value)

Maximum value: 9

17. Find the minimum value in a list.

In [69]:
# Create a list of numbers
my_list = [3, 6, 1, 8, 2, 9, 4]

# Find the minimum value in the list using the 'min()' function
minimum_value = min(my_list)

# Print the minimum value
print("Minimum value:", minimum_value)

Minimum value: 1

18. Create a list of squares of numbers from 1 to 10.

In [70]:
# Create a list of squares of numbers from 1 to 10 using a list comprehension
squares_list = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print("List of Squares:", squares_list)

List of Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [71]:
import random

# Create a list of 5 random integers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Print the list of random numbers
print("Random Numbers:", random_numbers)

Random Numbers: [70, 27, 47, 32, 68]

20. Remove duplicates from a list.

In [72]:
# Create a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Create an empty list to store unique elements
unique_list = []

# Loop through the original list and add elements to the unique list if not already present
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

# Print the list with duplicates removed
print("List with Duplicates Removed:", unique_list)

Original List: [1, 2, 2, 3, 4, 4, 5]
List with Duplicates Removed: [1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [73]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find common elements using set intersection
common_elements = list(set(list1) & set(list2))

# Print the common elements
print("Common Elements:", common_elements)

Common Elements: [3, 4, 5]

22. Find the difference between two lists.

In [74]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the difference between the two lists using set difference
difference = list(set(list1) - set(list2))

# Print the difference
print("Difference between the lists:", difference)

Difference between the lists: [1, 2]

23. Merge two lists.

In [75]:
# Create two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists using the 'extend()' method
list1.extend(list2)

# Print the merged list
print("Merged List:", list1)

Merged List: [1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [76]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Multiply all elements in the list by 2 using a list comprehension
result_list = [x * 2 for x in my_list]

# Print the result list
print("Result List:", result_list)

Original List: [1, 2, 3, 4, 5]
Result List: [2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [77]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers using a list comprehension
filtered_list = [x for x in my_list if x % 2 != 0]

# Print the filtered list
print("Filtered List (odd numbers only):", filtered_list)

Filtered List (odd numbers only): [1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [78]:
# Create a list of strings
string_list = ["1", "2", "3", "4", "5"]

# Displaying the original list
print("Original List:", string_list)

# Convert the list of strings to a list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of Integers:", integer_list)

Original List: ['1', '2', '3', '4', '5']
List of Integers: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [79]:
# Create a list of integers
integer_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", integer_list)

# Convert the list of integers to a list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of Strings:", string_list)

Original List: [1, 2, 3, 4, 5]
List of Strings: ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [80]:
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item)
    return flat_list

# Example nested list
nested_list = [1, [2, 3], [4, [5, 6]]]

# Displaying the original list
print("Original List:", nested_list)

# Flatten the nested list
flat_list = flatten_list(nested_list)

# Print the flat list
print("Flattened List:", flat_list)

Original List: [1, [2, 3], [4, [5, 6]]]
Flattened List: [1, 2, 3, 4, 5, 6]

29. Create a list of the first 10 Fibonacci numbers.

In [81]:
# Initialize the first two Fibonacci numbers
fibonacci_list = [0, 1]

# Generate the next 8 Fibonacci numbers
for i in range(2, 10):
    next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
    fibonacci_list.append(next_fibonacci)

# Print the list of the first 10 Fibonacci numbers
print("First 10 Fibonacci Numbers:", fibonacci_list)

First 10 Fibonacci Numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [82]:
def is_sorted(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example lists
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [5, 3, 2, 1, 4]

# Check if the lists are sorted
print("Is 'sorted_list' sorted?", is_sorted(sorted_list))
print("Is 'unsorted_list' sorted?", is_sorted(unsorted_list))

Is 'sorted_list' sorted? True
Is 'unsorted_list' sorted? False

31. Rotate a list to the left by `n` positions.

In [83]:
def rotate_left(lst, n):
    # Ensure n is within the bounds of the list length
    n %= len(lst)
    
    # Perform the rotation using list slicing
    rotated_list = lst[n:] + lst[:n]
    
    return rotated_list

# Example list and rotation
my_list = [1, 2, 3, 4, 5]
n = 2

# Rotate the list to the left by n positions
rotated = rotate_left(my_list, n)

# Print the rotated list
print("Original List:", my_list)
print(f"Rotated Left by {n} positions:", rotated)

Original List: [1, 2, 3, 4, 5]
Rotated Left by 2 positions: [3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [84]:
def rotate_right(lst, n):
    # Ensure n is within the bounds of the list length
    n %= len(lst)
    
    # Perform the rotation using list slicing
    rotated_list = lst[-n:] + lst[:-n]
    
    return rotated_list

# Example list and rotation
my_list = [1, 2, 3, 4, 5]
n = 2

# Rotate the list to the right by n positions
rotated = rotate_right(my_list, n)

# Print the rotated list
print("Original List:", my_list)
print(f"Rotated Right by {n} positions:", rotated)

Original List: [1, 2, 3, 4, 5]
Rotated Right by 2 positions: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [85]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print("Prime Numbers up to 50:", prime_numbers)

Prime Numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [86]:
def split_list(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# Example list and chunk size
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

# Split the list into chunks of size n
chunks = split_list(my_list, chunk_size)

# Print the list of chunks
print(f"Original List: {my_list}")
print(f"Split into Chunks of {chunk_size}: {chunks}")

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Split into Chunks of 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [87]:
def find_second_largest(lst):
    if len(lst) < 2:
        return None  # There is no second largest number

    largest = second_largest = float('-inf')  # Initialize largest and second_largest to negative infinity

    for num in lst:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num

    return second_largest

# Example list
my_list = [1, 3, 5, 2, 7, 6, 8]

# Find the second largest number
second_largest = find_second_largest(my_list)

# Print the result
if second_largest is not None:
    print("Second Largest Number:", second_largest)
else:
    print("There is no second largest number in the list.")

Second Largest Number: 7

36. Replace every element in a list with its square.

In [88]:
# Create a list of numbers
my_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Replace each element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared List:", squared_list)

Original List: [1, 2, 3, 4, 5]
Squared List: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [89]:
# Create a list
my_list = ['apple', 'banana', 'cherry', 'date']

# Convert the list to a dictionary with elements as keys and indices as values
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Dictionary:", my_dict)

Dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

In [90]:
import random

# Create a list
my_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled List:", my_list)

Original List: [1, 2, 3, 4, 5]
Shuffled List: [4, 3, 1, 2, 5]

39. Create a list of the first 10 factorial numbers.

In [91]:
# Function to calculate the factorial of a number
def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result

# Create a list of the first 10 factorial numbers
factorial_list = [factorial(n) for n in range(10)]

# Print the list of factorial numbers
print("First 10 Factorial Numbers:", factorial_list)

First 10 Factorial Numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [92]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

# Check if there is at least one common element
common_elements = set(list1) & set(list2)

if common_elements:
    print("There are common elements:", common_elements)
else:
    print("There are no common elements.")

There are common elements: {5}

41. Remove all elements from a list.

In [93]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty List:", my_list)

Original List: [1, 2, 3, 4, 5]
Empty List: []

42. Replace negative numbers in a list with 0.

In [94]:
# Create a list
my_list = [1, -2, 3, -4, 5]

# Displaying the original list
print("Original List:", my_list)

# Replace negative numbers with 0 using a list comprehension
my_list = [x if x >= 0 else 0 for x in my_list]

# Print the modified list
print("Modified List:", my_list)

Original List: [1, -2, 3, -4, 5]
Modified List: [1, 0, 3, 0, 5]

43. Convert a string into a list of words.

In [95]:
# Create a string
my_string = "Hello, this is a sample string."

# Split the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of Words:", word_list)

List of Words: ['Hello,', 'this', 'is', 'a', 'sample', 'string.']

44. Convert a list of words into a string.

In [96]:
# Create a list of words
word_list = ["Hello", "this", "is", "a", "list", "of", "words"]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Resulting String:", my_string)

Resulting String: Hello this is a list of words

45. Create a list of the first `n` powers of 2.

In [97]:
# Define the value of n (the number of powers of 2)
n = 5

# Create a list of the first n powers of 2 using a list comprehension
powers_of_2 = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("Powers of 2:", powers_of_2)

Powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [98]:
# Create a list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string using the max() function with a custom key
longest_string = max(string_list, key=len)

# Print the longest string
print("Longest String:", longest_string)

Longest String: elderberry

47. Find the shortest string in a list of strings.

In [99]:
# Create a list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string using the min() function with a custom key
shortest_string = min(string_list, key=len)

# Print the shortest string
print("Shortest String:", shortest_string)

Shortest String: date

48. Create a list of the first `n` triangular numbers.

In [100]:
# Define the value of n (the number of triangular numbers)
n = 5

# Create a list of the first n triangular numbers
triangular_numbers = []
current_sum = 0

for i in range(1, n + 1):
    current_sum += i
    triangular_numbers.append(current_sum)

# Print the list of triangular numbers
print("Triangular Numbers:", triangular_numbers)

Triangular Numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [101]:
# Function to check if list 'a' contains list 'b' as a subsequence
def is_subsequence(a, b):
    i = 0  # Index for list 'a'
    j = 0  # Index for list 'b'

    while i < len(a) and j < len(b):
        if a[i] == b[j]:
            j += 1  # Move to the next element in list 'b'
        i += 1  # Always move to the next element in list 'a'

    return j == len(b)  # If 'j' reached the end of list 'b', it's a subsequence

# Example lists
list_a = [1, 2, 3, 4, 5, 6]
list_b = [2, 4, 6]

# Check if list 'a' contains list 'b' as a subsequence
result = is_subsequence(list_a, list_b)

# Print the result
if result:
    print("List 'a' contains list 'b' as a subsequence.")
else:
    print("List 'a' does not contain list 'b' as a subsequence.")

List 'a' contains list 'b' as a subsequence.

50. Swap two elements in a list by their indices.

In [102]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Displaying the original list
print("Original List:", my_list)

# Define the indices of the elements to be swapped
index1 = 1  # Index of the first element
index2 = 3  # Index of the second element

# Check if the indices are within the bounds of the list
if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    # Swap the elements at the specified indices
    temp = my_list[index1]
    my_list[index1] = my_list[index2]
    my_list[index2] = temp

    # Print the list after swapping
    print("List after swapping elements:", my_list)
else:
    print("Invalid indices. Ensure indices are within the bounds of the list.")

Original List: [1, 2, 3, 4, 5]
List after swapping elements: [1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [103]:
# Create a tuple with integers from 1 to 5
my_tuple = (1, 2, 3, 4, 5)

# Print the tuple
print(my_tuple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [104]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Access the third element (index 2)
third_element = my_tuple[2]

# Print the third element
print("Third Element:", third_element)

Third Element: 3

3. Find the length of a tuple without using the `len()` function.

In [105]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Initialize a count variable to store the length
length = 0

# Iterate through the tuple and count the elements
for _ in my_tuple:
    length += 1

# Print the length of the tuple
print("Length of the Tuple:", length)

Length of the Tuple: 5

4. Count the occurrences of an element in a tuple.

In [106]:
# Create a tuple
my_tuple = (1, 2, 2, 3, 4, 2, 5)

# Count the occurrences of a specific element (e.g., 2)
element_to_count = 2
count = my_tuple.count(element_to_count)

# Print the count
print(f"Count of {element_to_count}: {count}")

Count of 2: 3

5. Find the index of the first occurrence of an element in a tuple.

In [107]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 2, 5)

# Find the index of the first occurrence of a specific element (e.g., 2)
element_to_find = 2

try:
    index = my_tuple.index(element_to_find)
    print(f"Index of {element_to_find}: {index}")
except ValueError:
    print(f"{element_to_find} not found in the tuple")

Index of 2: 1

6. Check if an element exists in a tuple.

In [108]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Element to check for existence
element_to_check = 3

# Check if the element exists in the tuple
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

7. Convert a tuple to a list.

In [109]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Displaying the original Tuple
print("Original Tuple:", my_tuple)

# Convert the tuple to a list
my_list = list(my_tuple)

# Print the resulting list
print("Converted List:", my_list)

Original Tuple: (1, 2, 3, 4, 5)
Converted List: [1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [110]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Displaying the original List
print("Original List:", my_list)

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Print the resulting tuple
print("Converted Tuple:", my_tuple)

Original List: [1, 2, 3, 4, 5]
Converted Tuple: (1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [111]:
# Create a tuple
my_tuple = (1, 2, 3)

# Unpack the elements into variables
a, b, c = my_tuple

# Print the variables
print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

10. Create a tuple of even numbers from 1 to 10.

In [112]:
# Create a tuple of even numbers from 1 to 10 using a tuple comprehension
even_numbers_tuple = tuple(x for x in range(2, 11, 2))

# Print the tuple
print("Even Numbers Tuple:", even_numbers_tuple)

Even Numbers Tuple: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [113]:
# Create a tuple of odd numbers from 1 to 10 using a tuple comprehension
odd_numbers_tuple = tuple(x for x in range(1, 11, 2))

# Print the tuple
print("Odd Numbers Tuple:", odd_numbers_tuple)

Odd Numbers Tuple: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [114]:
# Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Print the concatenated tuple
print("Concatenated Tuple:", concatenated_tuple)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [115]:
# Create a tuple
my_tuple = (1, 2, 3)

# Displaying the original tuple
print("Original Tuple:", my_tuple)

# Repeat the tuple three times
repeated_tuple = my_tuple * 3

# Print the repeated tuple
print("Repeated Tuple:", repeated_tuple)

Original Tuple: (1, 2, 3)
Repeated Tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [116]:
# Create an empty tuple
empty_tuple = ()

# Check if the tuple is empty
if not empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [117]:
# Create an tuple
empty_tuple = (1, 2, 3, 1, 2, 3, 1, 2, 3)

# Check if the tuple is empty
if not empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is not empty.

15. Create a nested tuple.

In [118]:
# Create a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Print the nested tuple
print("Nested Tuple:", nested_tuple)

Nested Tuple: ((1, 2), (3, 4), (5, 6))

16. Access the first element of a nested tuple.

In [119]:
# Create a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Access the first element of the nested tuple
first_element = nested_tuple[0]

# Print the first element
print("First Element:", first_element)

First Element: (1, 2)

17. Create a tuple with a single element.

In [120]:
# Create a tuple with a single element
single_element_tuple = (42,)

# Print the single-element tuple
print("Single-Element Tuple:", single_element_tuple)

Single-Element Tuple: (42,)

18. Compare two tuples.

In [121]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Compare if the two tuples are equal
if tuple1 == tuple2:
    print("Tuples are equal.")
else:
    print("Tuples are not equal.")

Tuples are equal.

In [122]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 22, 3)

# Compare if the two tuples are equal
if tuple1 == tuple2:
    print("Tuples are equal.")
else:
    print("Tuples are not equal.")

Tuples are not equal.

19. Delete a tuple.

In [123]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Delete the tuple
del my_tuple

# Attempting to access the tuple after deletion will result in an error
# Uncomment the following line to see the error
# print(my_tuple)

20. Slice a tuple.

In [124]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slice the tuple to extract a portion
sliced_tuple = my_tuple[2:6]  # Extract elements from index 2 (inclusive) to 6 (exclusive)

# Print the sliced tuple
print("Sliced Tuple:", sliced_tuple)

Sliced Tuple: (3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [125]:
# Create a tuple
my_tuple = (7, 2, 9, 1, 5, 8, 4, 6)

# Displaying the original tuple
print("Original Tuple:", my_tuple)

# Find the maximum value in the tuple
maximum_value = max(my_tuple)

# Print the maximum value
print("Maximum Value:", maximum_value)

Original Tuple: (7, 2, 9, 1, 5, 8, 4, 6)
Maximum Value: 9

22. Find the minimum value in a tuple.

In [126]:
# Create a tuple
my_tuple = (7, 2, 9, 1, 5, 8, 4, 6)

# Displaying the original tuple
print("Original Tuple:", my_tuple)

# Find the minimum value in the tuple
minimum_value = min(my_tuple)

# Print the minimum value
print("Minimum Value:", minimum_value)

Original Tuple: (7, 2, 9, 1, 5, 8, 4, 6)
Minimum Value: 1

23. Convert a string to a tuple of characters.

In [127]:
# Create a string
my_string = "Hello, World!"

# Convert the string to a tuple of characters
char_tuple = tuple(my_string)

# Print the tuple of characters
print("Tuple of Characters:", char_tuple)

Tuple of Characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [128]:
# Create a tuple of characters
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple of characters to a string
resulting_string = ''.join(char_tuple)

# Print the resulting string
print("Resulting String:", resulting_string)

Resulting String: Hello, World!

25. Create a tuple from multiple data types.

In [129]:
# Create a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True, [1, 2, 3])

# Print the mixed tuple
print("Mixed Tuple:", mixed_tuple)

Mixed Tuple: (1, 'hello', 3.14, True, [1, 2, 3])

26. Check if two tuples are identical.

In [130]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the two tuples are identical
if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

27. Sort the elements of a tuple.

In [131]:
# Create a tuple
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)

# Displaying the original Tuple
print("Original Tuple:", my_tuple)

# Convert the tuple to a list
my_list = list(my_tuple)

# Sort the list
my_list.sort()

# Convert the sorted list back to a tuple (if needed)
sorted_tuple = tuple(my_list)

# Print the sorted tuple
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
Sorted Tuple: (1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

28. Convert a tuple of integers to a tuple of strings.

In [132]:
# Create a tuple of integers
int_tuple = (1, 2, 3, 4, 5)

# Displaying the original Tuple
print("Original Tuple:", int_tuple)

# Convert the tuple of integers to a tuple of strings using a tuple comprehension
str_tuple = tuple(str(x) for x in int_tuple)

# Print the tuple of strings
print("Tuple of Strings:", str_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Tuple of Strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [133]:
# Create a tuple of strings
str_tuple = ("1", "2", "3", "4", "5")

# Displaying the original Tuple
print("Original Tuple:", str_tuple)

# Convert the tuple of strings to a tuple of integers using a tuple comprehension
int_tuple = tuple(int(x) for x in str_tuple)

# Print the tuple of integers
print("Tuple of Integers:", int_tuple)

Original Tuple: ('1', '2', '3', '4', '5')
Tuple of Integers: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [134]:
# Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple1 + tuple2

# Print the merged tuple
print("Merged Tuple:", merged_tuple)

Merged Tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [135]:
# Define a nested tuple
nested_tuple = ((1, 2), (3, (4, 5)), 6)

# Displaying the original Tuple
print("Original Tuple:", nested_tuple)

# Function to flatten a nested tuple
def flatten_tuple(nested):
    for item in nested:
        if isinstance(item, tuple):
            yield from flatten_tuple(item)
        else:
            yield item

# Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Print the flattened tuple
print("Flattened Tuple:", flattened_tuple)

Original Tuple: ((1, 2), (3, (4, 5)), 6)
Flattened Tuple: (1, 2, 3, 4, 5, 6)

32. Create a tuple of the first 5 prime numbers.

In [136]:
# Function to check if a number is prime
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers = []
number = 2  # Start from 2, the first prime number

while len(prime_numbers) < 5:
    if is_prime(number):
        prime_numbers.append(number)
    number += 1

# Convert the list of prime numbers to a tuple
prime_tuple = tuple(prime_numbers)

# Print the tuple of prime numbers
print("Tuple of the First 5 Prime Numbers:", prime_tuple)

Tuple of the First 5 Prime Numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [137]:
# Function to check if a tuple is a palindrome
def is_palindrome(tuple_to_check):
    return tuple_to_check == tuple_to_check[::-1]

# Create a tuple to check
palindrome_tuple = (1, 2, 3, 2, 1)

# Check if the tuple is a palindrome
result = is_palindrome(palindrome_tuple)

# Print the result
if result:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

In [138]:
# Create a tuple of squares of numbers from 1 to 5 using a tuple comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of Squares:", squares_tuple)

Tuple of Squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [139]:
# Create a tuple of squares of numbers from 1 to 5 using a tuple comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of Squares:", squares_tuple)

Tuple of Squares: (1, 4, 9, 16, 25)

36. Multiply all elements in a tuple by 2.

In [140]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Displaying the original Tuple
print("Original Tuple:", original_tuple)

# Multiply all elements by 2 and create a new tuple
doubled_tuple = tuple(x * 2 for x in original_tuple)

# Print the new tuple
print("Doubled Tuple:", doubled_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Doubled Tuple: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [141]:
import random

# Create a tuple of random integers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

# Print the tuple of random numbers
print("Random Tuple:", random_tuple)

Random Tuple: (61, 3, 65, 83, 1)

38. Check if a tuple is sorted.

In [142]:
# Function to check if a tuple is sorted in ascending order
def is_sorted(t):
    return t == tuple(sorted(t))

# Create a tuple to check
sorted_tuple = (1, 2, 3, 4, 5)

# Displaying the original tuple
print("Original Tuple:", sorted_tuple)

# Check if the tuple is sorted
result = is_sorted(sorted_tuple)

# Print the result
if result:
    print("The tuple is sorted in ascending order.")
else:
    print("The tuple is not sorted in ascending order.")

Original Tuple: (1, 2, 3, 4, 5)
The tuple is sorted in ascending order.

39. Rotate a tuple to the left by `n` positions.

In [143]:
# Function to rotate a tuple to the left by n positions
def rotate_left(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)  # Ensure n is within the tuple length
    return tuple_to_rotate[n:] + tuple_to_rotate[:n]

# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Displaying the original tuple
print("Original Tuple:", original_tuple)

# Rotate the tuple to the left by 2 positions
rotated_tuple = rotate_left(original_tuple, 2)

# Print the rotated tuple
print("Rotated Tuple:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [144]:
# Function to rotate a tuple to the right by n positions
def rotate_right(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)  # Ensure n is within the tuple length
    return tuple_to_rotate[-n:] + tuple_to_rotate[:-n]

# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Displaying the original tuple
print("Original Tuple:", original_tuple)

# Rotate the tuple to the right by 2 positions
rotated_tuple = rotate_right(original_tuple, 2)

# Print the rotated tuple
print("Rotated Tuple:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [145]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_sequence = []
    a, b = 0, 1
    for _ in range(n):
        fibonacci_sequence.append(a)
        a, b = b, a + b
    return tuple(fibonacci_sequence)

# Create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the tuple of Fibonacci numbers
print("Tuple of the First 5 Fibonacci Numbers:", fibonacci_tuple)

Tuple of the First 5 Fibonacci Numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [146]:
# Get user input as a comma-separated string
user_input = input("Enter values separated by commas: ")

# Split the input string into a list of values
input_list = user_input.split(',')

# Remove leading and trailing whitespace from each value and convert to a tuple
user_tuple = tuple(value.strip() for value in input_list)

# Print the resulting tuple
print("User Tuple:", user_tuple)

Enter values separated by commas:  1,22,333,4444,55555

User Tuple: ('1', '22', '333', '4444', '55555')

43. Swap two elements in a tuple.

In [147]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Define the indices of the elements to swap
index1 = 1
index2 = 3

# Convert the tuple to a list to perform the swap
tuple_list = list(original_tuple)

# Swap the elements
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

# Convert the list back to a tuple
swapped_tuple = tuple(tuple_list)

# Displaying the original tuple
print("Original Tuple:", original_tuple)

# Print the swapped tuple
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [148]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Displaying the original tuple
print("Original Tuple:", original_tuple)

# Reverse the elements and create a new tuple
reversed_tuple = tuple(reversed(original_tuple))

# Print the reversed tuple
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [149]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    return tuple(2 ** i for i in range(n))

# Specify the number of powers you want (e.g., first 5 powers)
n = 5

# Create a tuple of the first n powers of 2
powers_of_2_tuple = generate_powers_of_2(n)

# Print the tuple of powers
print("Tuple of the First", n, "Powers of 2:", powers_of_2_tuple)

Tuple of the First 5 Powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [150]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Displaying the original tuple
print("Original Tuple:", string_tuple)

# Initialize a variable to store the longest string
longest_string = ""

# Iterate through the tuple to find the longest string
for string in string_tuple:
    if len(string) > len(longest_string):
        longest_string = string

# Print the longest string
print("Longest String:", longest_string)

Original Tuple: ('apple', 'banana', 'cherry', 'date', 'elderberry')
Longest String: elderberry

47. Find the shortest string in a tuple of strings.

In [151]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Displaying the original tuple
print("Original Tuple:", string_tuple)

# Initialize a variable to store the shortest string
shortest_string = None

# Iterate through the tuple to find the shortest string
for string in string_tuple:
    if shortest_string is None or len(string) < len(shortest_string):
        shortest_string = string

# Print the shortest string
print("Shortest String:", shortest_string)

Original Tuple: ('apple', 'banana', 'cherry', 'date', 'elderberry')
Shortest String: date

48. Create a tuple of the first `n` triangular numbers.

In [152]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = []
    total = 0
    for i in range(1, n + 1):
        total += i
        triangular_numbers.append(total)
    return tuple(triangular_numbers)

# Specify the number of triangular numbers you want (e.g., first 5)
n = 5

# Create a tuple of the first n triangular numbers
triangular_numbers_tuple = generate_triangular_numbers(n)

# Print the tuple of triangular numbers
print("Tuple of the First", n, "Triangular Numbers:", triangular_numbers_tuple)

Tuple of the First 5 Triangular Numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [153]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    # Initialize variables to track indices
    main_index = 0
    sub_index = 0
    
    # Iterate through the main tuple
    while main_index < len(main_tuple):
        # If the current element matches the subsequence
        if main_tuple[main_index] == sub_tuple[sub_index]:
            sub_index += 1
            # If we've matched all elements of the subsequence, it's a subsequence
            if sub_index == len(sub_tuple):
                return True
        main_index += 1
    
    # If we reach the end of the main tuple and haven't found the subsequence
    return False

# Example tuples
main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (3, 4, 5)

# Check if sub_tuple is a subsequence of main_tuple
result = contains_subsequence(main_tuple, sub_tuple)

# Print the result
if result:
    print("sub_tuple is a subsequence of main_tuple.")
else:
    print("sub_tuple is not a subsequence of main_tuple.")

sub_tuple is a subsequence of main_tuple.

50. Create a tuple of alternating 1s and 0s of length `n`.

In [154]:
# Function to create a tuple of alternating 1s and 0s
def create_alternating_tuple(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Specify the length of the tuple (e.g., n = 10)
n = 10

# Create a tuple of alternating 1s and 0s
alternating_tuple = create_alternating_tuple(n)

# Print the tuple
print("Tuple of Alternating 1s and 0s of Length", n, ":", alternating_tuple)

Tuple of Alternating 1s and 0s of Length 10 : (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [155]:
# Create a set with integers from 1 to 5 using curly braces
my_set = {1, 2, 3, 4, 5}

# Print the set
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

2. Add an element to a set.

In [156]:
# Create a set
my_set = {1, 2, 3}

# Displaying Original Set
print("Original Set:", my_set)

# Add an element to the set using the add() method
my_set.add(4)

# Print the updated set
print("Updated Set:", my_set)

Original Set: {1, 2, 3}
Updated Set: {1, 2, 3, 4}

3. Remove an element from a set.

In [157]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Displaying Original Set
print("Original Set:", my_set)

# Remove an element from the set using the remove() method
my_set.remove(3)

# Print the updated set
print("Updated Set:", my_set)

Original Set: {1, 2, 3, 4, 5}
Updated Set: {1, 2, 4, 5}

4. Check if an element exists in a set.

In [158]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set using the 'in' keyword
element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

5. Find the length of a set without using the `len()` function.

In [159]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements
count = 0

# Iterate through the set and count the elements
for _ in my_set:
    count += 1

# Print the length of the set
print("Length of the Set:", count)

Length of the Set: 5

6. Clear all elements from a set.

In [160]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set using the clear() method
my_set.clear()

# Print the empty set
print("Cleared Set:", my_set)

Cleared Set: set()

7. Create a set of even numbers from 1 to 10.

In [161]:
# Create a set of even numbers from 1 to 10 using a set comprehension
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

# Print the set
print("Set of Even Numbers:", even_numbers_set)

Set of Even Numbers: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [162]:
# Create a set of odd numbers from 1 to 10 using a set comprehension
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

# Print the set
print("Set of Odd Numbers:", odd_numbers_set)

Set of Odd Numbers: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [163]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the union of the two sets using the union() method
union_set = set1.union(set2)

# Print the union set
print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6}

10. Find the intersection of two sets.

In [164]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the intersection of the two sets using the intersection() method
intersection_set = set1.intersection(set2)

# Print the intersection set
print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {3, 4}

11. Find the difference between two sets.

In [165]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the difference between set1 and set2 using the difference() method
difference_set = set1.difference(set2)

# Print the difference set
print("Difference between set1 and set2:", difference_set)

Difference between set1 and set2: {1, 2}

12. Check if a set is a subset of another set.

In [166]:
# Create two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2 using the issubset() method
is_subset = set1.issubset(set2)

# Print the result
if is_subset:
    print("set1 is a subset of set2.")
else:
    print("set1 is not a subset of set2.")

set1 is a subset of set2.

13. Check if a set is a superset of another set.

In [167]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2 using the issuperset() method
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

14. Create a set from a list.

In [168]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list using the set() constructor
my_set = set(my_list)

# Print the set
print("Set from List:", my_set)

Set from List: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [169]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the list() constructor
my_list = list(my_set)

# Print the list
print("List from Set:", my_list)

List from Set: [1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [170]:
import random

# Create a set
my_set = {1, 2, 3, 4, 5}

# Generate a random index to remove
random_index = random.randint(0, len(my_set) - 1)

# Remove a random element from the set using pop()
if len(my_set) > 0:
    random_element = my_set.pop()
    print(f"Removed random element {random_element} from the set.")
else:
    print("The set is empty, so no element can be removed.")

# Print the updated set
print("Updated Set:", my_set)

Removed random element 1 from the set.
Updated Set: {2, 3, 4, 5}

17. Pop an element from a set.

In [171]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove and return an arbitrary element from the set using pop()
if len(my_set) > 0:
    popped_element = my_set.pop()
    print(f"Removed element {popped_element} from the set.")
else:
    print("The set is empty, so no element can be removed.")

# Print the updated set
print("Updated Set:", my_set)

Removed element 1 from the set.
Updated Set: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [172]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the two sets have no elements in common using isdisjoint()
if set1.isdisjoint(set2):
    print("The sets have no elements in common.")
else:
    print("The sets have at least one element in common.")

The sets have no elements in common.

19. Find the symmetric difference between two sets.

In [173]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the symmetric difference between set1 and set2 using the symmetric_difference() method
symmetric_diff_set = set1.symmetric_difference(set2)

# Print the symmetric difference set
print("Symmetric Difference between set1 and set2:", symmetric_diff_set)

Symmetric Difference between set1 and set2: {1, 2, 5, 6}

20. Update a set with elements from another set.

In [174]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using the update() method
set1.update(set2)

# Print the updated set1
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [175]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Create a set of the first 5 prime numbers
prime_set = set()
num = 2  # Start with the first prime number

while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [176]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the two sets are identical using the == operator
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [177]:
# Create a regular set
my_set = {1, 2, 3, 4, 5}

# Convert the regular set to a frozen set using frozenset()
my_frozen_set = frozenset(my_set)

# Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [178]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the two sets are disjoint using the isdisjoint() method
if set1.isdisjoint(set2):
    print("The sets are disjoint (they have no elements in common).")
else:
    print("The sets are not disjoint (they have elements in common).")

The sets are disjoint (they have no elements in common).

25. Create a set of squares of numbers from 1 to 5.

In [179]:
# Create a set of squares of numbers from 1 to 5 using a set comprehension
squares_set = {x ** 2 for x in range(1, 6)}

# Print the set of squares
print("Set of squares of numbers from 1 to 5:", squares_set)

Set of squares of numbers from 1 to 5: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [180]:
# Create a set with some numbers, including both even and odd
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}

# Create a new set with only the odd numbers using a set comprehension
odd_set = {x for x in original_set if x % 2 != 0}

# Print the set containing only odd numbers
print("Set of odd numbers:", odd_set)

Set of odd numbers: {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [181]:
# Create a set with some numbers
my_set = {1, 2, 3, 4, 5}

# Displaying the Original Set
print("Original Set:", my_set)

# Convert the set to a list, multiply each element by 2, and then convert it back to a set
my_list = list(my_set)
my_list = [x * 2 for x in my_list]
my_set = set(my_list)

# Print the updated set
print("Updated Set:", my_set)

Original Set: {1, 2, 3, 4, 5}
Updated Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [182]:
import random

# Set the seed for reproducibility (optional)
random.seed(42)

# Create an empty set to store random numbers
random_set = set()

# Generate and add random numbers to the set
for _ in range(10):  # Generate 10 random numbers, you can change this number
    random_number = random.randint(1, 100)  # Random number between 1 and 100
    random_set.add(random_number)

# Print the set of random numbers
print("Set of random numbers:", random_set)

Set of random numbers: {32, 4, 36, 14, 15, 82, 18, 29, 95}

29. Check if a set is empty.

In [183]:
# Create an empty set
empty_set = set()

# Check if the set is empty using len()
if len(empty_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [184]:
# Create an empty set
empty_set = set()

# Check if the set is empty using truthiness
if not empty_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [185]:
# Create frozenset objects
nested_set1 = frozenset({1, 2, 3})
nested_set2 = frozenset({4, 5, 6})

# Create a regular set containing the frozenset objects
outer_set = {nested_set1, nested_set2}

# Print the nested set
print("Nested Set:", outer_set)

Nested Set: {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

31. Remove an element from a set using the discard method.

In [186]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element using discard()
my_set.discard(3)

# Print the updated set
print("Updated Set:", my_set)

Updated Set: {1, 2, 4, 5}

32. Compare two sets.

In [187]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

33. Create a set from a string.

In [188]:
# Create a string
my_string = "hello"

# Initialize an empty set
my_set = set()

# Add each character from the string to the set
for char in my_string:
    my_set.add(char)

# Print the set
print("Set from string:", my_set)

Set from string: {'e', 'h', 'l', 'o'}

34. Convert a set of strings to a set of integers.

In [189]:
# Create a set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers using a set comprehension
integer_set = {int(item) for item in string_set}

# Print the set of integers
print("Set of integers:", integer_set)

Set of integers: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [190]:
# Create a set of integers
integer_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings using a set comprehension
string_set = {str(item) for item in integer_set}

# Print the set of strings
print("Set of strings:", string_set)

Set of strings: {'2', '4', '5', '1', '3'}

36. Create a set from a tuple.

In [191]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a set
my_set = set(my_tuple)

# Print the set
print("Set from tuple:", my_set)

Set from tuple: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [192]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

# Print the tuple
print("Tuple from set:", my_tuple)

Tuple from set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [193]:
# Create a set
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5}

# Find the maximum value in the set
maximum_value = max(my_set)

# Print the maximum value
print("Maximum value in the set:", maximum_value)

Maximum value in the set: 9

39. Find the minimum value in a set.

In [194]:
# Create a set
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5}

# Find the minimum value in the set
minimum_value = min(my_set)

# Print the minimum value
print("Minimum value in the set:", minimum_value)

Minimum value in the set: 1

40. Create a set from user input.

In [195]:
# Initialize an empty set
user_set = set()

while True:
    user_input = input("Enter an element (or 'done' to finish): ")
    
    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'
    
    # Add the user input to the set
    user_set.add(user_input)

# Print the final set
print("Set created from user input:", user_set)

Enter an element (or 'done' to finish):  1
Enter an element (or 'done' to finish):  22
Enter an element (or 'done' to finish):  333
Enter an element (or 'done' to finish):  4444
Enter an element (or 'done' to finish):  55555
Enter an element (or 'done' to finish):  done

Set created from user input: {'333', '55555', '22', '1', '4444'}

41. Check if the intersection of two sets is empty.

In [196]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Check if the intersection is empty
intersection_empty = set1.isdisjoint(set2)

# Print the result
if intersection_empty:
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is empty.

42. Create a set of the first 5 Fibonacci numbers.

In [197]:
# Initialize an empty set for the Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Generate the first 5 Fibonacci numbers and add them to the set
for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [198]:
# Create a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5, 5]

# Remove duplicates using sets
unique_list = list(set(my_list))

# Print the list with duplicates removed
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [199]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Check if the two sets are equivalent
if set1 == set2:
    print("The sets are equivalent.")
else:
    print("The sets are not equivalent.")

The sets are equivalent.

45. Create a set of the first `n` powers of 2.

In [200]:
# Define the value of n (the number of powers)
n = 5

# Initialize an empty set for the powers of 2
powers_of_2_set = set()

# Generate the first n powers of 2 and add them to the set
for i in range(n):
    power_of_2 = 2 ** i
    powers_of_2_set.add(power_of_2)

# Print the set of powers of 2
print(f"Set of the first {n} powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [201]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Create a list
my_list = [3, 4, 5, 6, 7]

# Find the common elements between the set and the list
common_elements = my_set & set(my_list)

# Convert the result back to a list if needed
common_elements_list = list(common_elements)

# Print the common elements
print("Common elements:", common_elements_list)

Common elements: [3, 4, 5]

47. Create a set of the first `n` triangular numbers.

In [202]:
# Define the value of n (the number of triangular numbers)
n = 5

# Initialize an empty set for the triangular numbers
triangular_numbers_set = set()

# Generate the first n triangular numbers and add them to the set
for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers_set.add(triangular_number)

# Print the set of triangular numbers
print(f"Set of the first {n} triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [203]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [204]:
# Define the length n
n = 10

# Initialize an empty set for the alternating sequence
alternating_set = set()

# Generate the alternating sequence of 1s and 0s
for i in range(n):
    alternating_set.add(i % 2)

# Print the set of alternating 1s and 0s
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

50. Merge multiple sets into one.

In [205]:
# Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the union() method
merged_set = set1.union(set2, set3)

# Print the merged set
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}